body {
    background-color: lightskyblue;
}

table {
    background-color: whitesmoke;
}

table, th, td {
    border: 1px solid;
  }

[data-complete="N"] {
    background-color: orange;
}

[data-complete="Y"] {
    background-color: cyan;
}