body {
    background-color: #00537A;
    font-family: 'Rubik', sans-serif;
}

h1 {
    color: whitesmoke;
}

table, #legend {
    background-color: #FFD35B;
}

table, th, td {
    border: 1px solid;
  }

.button-cell-background {
    background-color: #FFD35B;
}

button {
    background-color: #A8E8F9;
}

button:hover {
    background-color: whitesmoke;
}

input {
    background-color: #c0e1f9;
}

[data-complete="N"], #not-done {
    background-color: #F5A201;
}

[data-complete="Y"], #done {
    background-color: #219EBC;
}